<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.raw.nowcoder.mapper.userMapper">

    <resultMap id="userResultMap" type="User">
        <result property="activationCode" column="activation_code"></result>
        <result property="headerUrl" column="header_url"></result>
        <result property="createTime" column="create_time"></result>

    </resultMap>
    <insert id="saveTickt">
        INSERT into login_ticket VALUES(NULL,#{loginTicket.userId},#{loginTicket.ticket},#{loginTicket.status},#{loginTicket.expired})
    </insert>


    <select id="selectAll" resultType="com.raw.nowcoder.entity.User" resultMap="userResultMap">
        SELECT * from user;
    </select>
    <select id="selectByName" resultType="com.raw.nowcoder.entity.User" resultMap="userResultMap">
        SELECT * from user WHERE  username=#{username};
    </select>


</mapper>